In [1]:
import numpy as np
import pandas as pd

### This function takes a filename and a number T, and returns a data frame with 10 columns.

These columns are:
 - Date
 - OPEN
 - HIGH
 - LOW
 - VOLUME
 - CLOSE 
 - the change for the future price movement T days ahead of today's trading price for OPEN, HIGH, LOW, CLOSE columns (rt_T = p_t+T - p_t / p_t) . p_t+T is price T days ahead, p_t is todays price

In [2]:


def T_day_return(file, T):
    data = pd.read_csv(file)
    data['Date'] = data['Date']
    data['open_rt'] = data['OPEN'].diff(periods = T).div(data['OPEN'].shift(T))
    data['high_rt'] = data['HIGH'].diff(periods = T).div(data['HIGH'].shift(T))
    data['low_rt'] = data['LOW'].diff(periods = T).div(data['LOW'].shift(T))
    data['close_rt'] = data['CLOSE'].diff(periods = T).div(data['CLOSE'].shift(T))
    return data

In [4]:
file = "../csv/AXP.csv"
T = 3
T_day_return(file, T)

,Date,OPEN,HIGH,LOW,VOLUME,CLOSE,open_rt,high_rt,low_rt,close_rt
0,2013-08-26,70.381303,71.058779,70.066417,2372400,70.238173,NaN,NaN,NaN,NaN
1,2013-08-27,69.465279,69.589321,68.482454,3712600,68.616048,NaN,NaN,NaN,NaN
2,2013-08-28,68.415660,69.026343,68.262993,2963200,68.711465,NaN,NaN,NaN,NaN
3,2013-08-29,68.520623,69.293524,68.301162,2957100,68.911845,-0.026437,-0.024842,-0.025194,-0.018883
4,2013-08-30,68.845052,68.930926,68.196200,3779500,68.616048,-0.008929,-0.009461,-0.004180,0.000000
...,...,...,...,...,...,...,...,...,...,...
823,2016-11-30,72.000000,72.330002,71.779999,4744100,72.040001,-0.013293,-0.011615,-0.009384,-0.011254
824,2016-12-01,72.449997,72.769997,71.779999,4289300,72.529999,-0.001103,0.000000,-0.002640,0.005546
825,2016-12-02,72.519997,72.660004,71.430000,2938000,71.860001,0.004432,0.005536,0.000560,0.005176
826,2016-12-05,72.330002,72.639999,71.989998,3886700,72.029999,0.004583,0.004286,0.002926,-0.000139
827,2016-12-06,72.470001,72.739998,72.080002,3785000,72.309998,0.000276,-0.000412,0.004179,-0.003033